@font-face {
  font-family: 'Code-Squared';
  src:
    /* Pretty Modern Browsers */ url('./CodeSquaredRegular-AYRg.ttf')
      format('truetype'),
    /* Super Modern Browsers */ url('./CodeSquaredRegular-AYRg.woff')
      format('woff');
  font-display: swap;
}
